*.cs linguist-language=C#
*.csproj linguist-language=C#
*.sln linguist-language=C#

*.js linguist-vendored
*.css linguist-vendored
*.html linguist-vendored
*.json linguist-vendored
*.config linguist-vendored
